@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-negro:hsl(267, 73%, 3%);
    --color-blanco:hsl(0, 0%, 100%);
    --color-blanco-2:hsl(38, 44%, 90%);
    --color-acento:hsl(198, 66%, 62%);
    --color-marron1:hsl(40, 12%, 59%);
    --color-marron2:hsl(40, 10%, 40%);
}

*{
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 auto;
    padding: 0;
    
    line-height: 1.5;
    background-color: var(--color-blanco-2);
}

/*Flex*/
.flex{
    display: flex;
    gap: 16px;
}


/*Header*/

header{
    background-color: var(--color-negro);
    width: 100%;
    padding: 35px 0 20px 0;
}

.contenedor_header{
    padding: 32px 0;
    margin: 0 35px;
    justify-content: space-between;
    align-items: center;
}

.nav {
    gap: 0;
    font-size: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav > li {
    margin: 16px;
}
.buscar > input {
    margin-top: 10px;
    padding: 12px 15px;
    border-radius: 10px;
    border: 3px solid var(--color-marron2);
}

.buscar > input:focus,
.buscar > button:focus {
    outline: none;
    border: 3px solid var(--color-acento);
}

.buscar > button{
    margin-top: 10px;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: var(--color-acento);
    border: 3px solid var(--color-marron2);
}






/*Main*/

main{
    width: min(1250px, 100%);
    margin: 0 auto;
}
.imagen-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bienvenida.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.titulo{
    background-color:rgba(0, 0, 0, 0.575);
    color: var(--color-blanco);
    font-weight: 200;
    font-size: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    width: 1250px;
    text-align: center;
}
.h1-novedades{
    text-align: center;
}
.novedades{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap:wrap;
}

.articulos{
    width: 250px;
    text-align: center;
    margin: 0;
}

.titulo-libro{
    margin: 0;
    padding: 0;
}


/*Footer*/
.footer{
    background-color: var(--color-marron1);
    font-size: 24px;
    width: 100%;
    color: beige;
    padding: 80px;
}

.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 32px;
}


/*Sobre Nosotros*/

.nosotros{
    width: min(1250px , 100%);
}
.mivideo{
    width: min(100%, 800px);
}
.nosotros-ul{
    list-style: none;
    padding: 0;
    font-size: 30px;

}
.contenedor-texto{
    width: 340px
}
.nosotros-h1{
    text-align: left;
    padding: 0 ;
    font-weight: 600;
}

.nosotros-texto{
    list-style: none;
    padding: 0;
    text-align: left;
    line-height: 2;
    
}
.mapa-nosotros{
    margin-top: 40px;
    width: 100%;
    height: 598px;
}

